<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Поиск пользователя</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <p>Напишите айди пользователя</p>
        <form method="post">
            {% csrf_token %} <!-- Добавьте эту строку -->
            <div class="form-group">
                <input type="text" name="user_id" class="form-control" placeholder="Введите ID пользователя, данные только на 3 id">
            </div>
            <button type="submit" class="btn btn-primary">
                Смотреть
            </button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>